<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Viewer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .pdf-viewer {
            width: 100%;
            height: 90vh;
            border: none;
        }
    </style>
</head>
<body>
    <h2 class="mt-4">Document Viewer</h2>
    <iframe class="pdf-viewer" src="{{ document_url }}" allowfullscreen></iframe>
</body>
</html>
